@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: #0c0c0c;
    background-image: url(https://res.cloudinary.com/drnmx4xgd/image/upload/v1686261743/wp9273232-kettlebell-wallpapers_g6vsn7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 98%;
    width: 98vw;
}
@media  screen and (max-width: 720px) and (max-height: 1280px) {
    body{
        background: url(https://res.cloudinary.com/drnmx4xgd/image/upload/v1686261765/teahub.io-gym-wallpaper-hd-677914_uzqzjo.jpg)no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
    /* HOME */
    .header {
        display: flex;
        justify-content: space-between;
    }

/* NAVBAR */
.navBar {
    display: flex;
    justify-content: space-between;
    width: 95vw;
}
@media screen and (max-width: 768px) {
    .navBarModal {
        height: 5vh;
        margin-left: 75%;
        font-size: 80%;
    }
    
}
.navBarList.show {
    display: block;
}
.navBarItems {
    display: flex;
    list-style: none;
}
.navBarItems li {
    height: 15%;
}
.navBarItems a {
    margin: 2rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Bruno Ace SC', cursive;
    color: #FFFF00;
}
.navBarModal {
    background-color: #000;
    color: #FFFF00;
    font-family: 'Bruno Ace SC', cursive;
    border: solid 1px #FFFF00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 3%;
}

/* MENUDESPLEGABLE */    
.dropdownMenu {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

/* MAINBUTTON */
.mainButton {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;  
}
.mainButton:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #FFFF00;  
}
.mainButton:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;  
}

/* MODAL */
.modal1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    font-family: 'Bruno Ace SC', cursive;
    width: 25%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.modal1-content{
    width: 100%;
    height: 100%;
}
.modal2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    align-items: center;
    border-radius: 25px;
    font-family: 'Bruno Ace SC', cursive;
    width: 25%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.modal2-content{
    width: 100%;
    height: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 100%;
    height: 100vh;
    border: none;
}
#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}
.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6rem;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background-color: #171717;
    color: #fff;
    padding: 0.10rem;
    bottom: -10px;
}
.instructions > svg {
    margin-right: 0.25rem;
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.hide {
    display: none;
}
.valid {
    color: limegreen;
    margin-left: 0.25rem;
}
.invalid {
    color: red;
    margin-left: 0.25rem;
}
.errmsg {
    color: #FFFF00;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}
.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}
.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    font-family: 'Bruno Ace SC', cursive;
    background-color: #252525;
    color: white;
}  
.button1:hover {
    background-color: black;
    color: white;
}
.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    font-family: 'Bruno Ace SC', cursive;
    background-color: #252525;
    color: white;
}  
.button2:hover {
    background-color: black;
    color: white;
} 
.button3 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Bruno Ace SC', cursive;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}  
.button3:hover {
    background-color: #FFFF00;
    color: black;
}
.button4 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    font-family: 'Bruno Ace SC', cursive;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}  
.button4:hover {
    background-color: #FFFF00;
    color: black;
}
.close {
    cursor: pointer;
    border: solid 1px black;
    width: 100%;
    padding: 0.4rem;
    border-radius: 1px 1px 25px 25px;
    text-align: center;
    background-color: #000;
    color: #FFFF00;
}
@media screen and (max-width: 768px) {
    .close{
        width: 100%;
    }
  }
  
/* MAIN */
.main {
    display: flex;
    height: 80%;
    width: 65%;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 100%;
}
.main h2 {
    color: white;
    font-size: 3rem;
}
.main p {
    font-size: 2rem;
    color: white;
    margin-top: -1rem;
}

/* HOME */
.header {
    display: flex;
    justify-content: space-between;
}
.homePage {
    height: 100%;
    width: 50%;
    margin-left:45%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10%;
    font-size: 100%;
}
@media screen and (max-width: 768px){
    .homePage {
        height: 50%;
        width: 98%;
        margin-left: 1%;
        top: 50%;
    }
    .main p {
        font-size: 100%;
    }
    
}

.card {
    width: 60%;
    height: 90%;
    background: #f5f5f5;
    transition: box-shadow .3s ease, transform .2s ease;
    border: solid 2px #FFFF00;
    margin: 6%;
    
}
/* CARDLIST */
.cardsList {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20%, 1fr));
    grid-gap: 5%;
    width: 100%;
    max-width: 100%;

}
@media screen and (max-width: 768px){  
    .cardlist {
        width: 90%;
        max-width: 90%;
    }
    .card-info {
        width: 100%;
        height: 100%;
    }
    .card {
        width: 80%;
        height: 75%;
    }
    .card-title {
        font-size: 90%
    }
    .listRoutines{
        width: 90%;

    }
}


/* ROUTINES */
.listRoutines {
    background-color: rgb(22, 22, 21); 
    margin: 1%;
    margin-top: -0.2rem;
    border-radius: 10px 10px 0px 0px;
    width: 98%;
    height: 100%;
}

/* COMPONENTS */
.customSelected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 768px){
    .customSelected {
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        margin: 0rem;
    }
    .checkbox {
        width: calc(50%-10px);
        
    }
    .custom {
        width: calc(50%-10px);
    }
}
.custom {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.checkbox {
    padding: 1rem;
    border: solid 4px #FFFF00;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    width: calc(25%-10px);
}
.checkbox:hover {
    background-color: #FFFF00;
}
.selecteds {
    display: flex;
    align-items: center;
}
.selected {
    display: flex;
    height: 35%;
    list-style: none;
    background-color: black;
    padding: 1rem;
    color: #FFFF00;
    margin-top: 1rem;
    text-align: center;
    border-radius: 10px;
}
.selected li {
    margin: 0.5rem;
}
.buttonCustom {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #FFFF00;
    color: #000;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-align: center;
    margin-left: 1rem;
}
.buttonCustom:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
} 
.buttonCustom:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

/* GYMCARDS */
.gymsLocation {
    width: 252px;
    height: 265px;
    background: white;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    margin-bottom: 2rem;
}
.gymImagen {
    width: 100%;
    height: 8rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(#FFFF00, #FFA500, #FF0000);
    display: flex;
    align-items: top;
    justify-content: right;  
}
.gymText {
    margin: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-around;  
}
.gymBox {
    margin-top: 1px;
    width: 87%;
    padding: 10px;
    background-color: #ffff0077;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.gymText .h3 {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;  
}
.gymText .p {
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 13px;
    margin-top: -0.4rem;  
}
.gymBox .span {
    font-family: 'Lucida Sans' sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #000;  
    text-decoration: none;
}
.gymsLocation:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);  
}

/* GYM */
.gymMain {
    border: solid 1px #FFFF00;
    background-color: #000;
    padding: 2rem;
    margin-top: 2rem;
}

/* DATAGYM */
.fitnessCard {
    display: flex;
    flex-direction: column;
}
.gymCards {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}
.input {
    max-width: 300px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;  
    margin-left: 2rem;
}
.input:focus {
    border-bottom: 5px solid #FFFF00;
    border-radius: 4px 4px 2px 2px;  
}
.input:hover {
    outline: 1px solid lightgrey;
}

/* STORE */
.categoryStore {
    padding: 1rem;
}

/* DATASTORE */
.cartModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.cartModalContent {
    width: 750px;
    background-color: #fff;
    padding: 20px;
    max-height: 80vh; /* Ajusta este valor según tus necesidades */
    overflow: auto;
    text-align: center;
}
.cartModalContent h3 {
    font-size: 2rem;
}
.contentModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cartsButton {
    margin-top: 2rem;
}
.buy {
    text-decoration: none;
    border: solid 1px black;
    padding: 1rem;
    margin-right: 1rem;
    color: #000;
}
.buy:hover {
    background-color: #000;
    color: #FFFF00;
}
.buttonCart {
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.buttonCart svg {
    width: 40px;
    height: 40px;
}
.products {
    background-color: white;
    margin-top: 2rem;
}
.containerProducts {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.categorys {
    background-color: #000;
    padding: 2rem;
}
.categorys li {
    list-style: none;
    color: #FFFF00;
    font-size: 1.3rem;
    cursor: pointer;
}
.categorys li:hover {
    font-size: 1.6rem;
}
.selectedCategory {
    padding: 1rem;
}
.selectedProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* STORECARD */
.cardProducts {
    width: 190px;
    height: 290px;
    padding: .8em;
    margin-bottom: 2rem;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
    border: solid 1px #FFFF00; 
}
.productImage {
    background-color: #FFFF00;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}
.productInfo {
    padding-top:4%;
}
.productButton svg {
    width: 20px;
    height: 20px;
}
.productFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    border-top: 1px solid #ddd;
}
.textTitle {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
    color: black;
}
.textBody {
    font-size: .9em;
    padding-bottom: 10px;
    color: black;
}
.productButton {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}
.productImage:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.productButton:hover {
    border: 1px solid #ffcaa6;
    background-color: #FFFF00;
}

/* INFORMATIOCARDS */
.cardShadow {
    width: 990px;
    margin: 1rem;
    height: 470px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    display: flex;
}
.schedule {
    width: 100%;
    border-collapse: collapse;
}
.schedule th,
.schedule td {
    border: 1px solid #ccc;
    padding: 8px;
}
.schedule th {
    background-color: #f0f0f0;
    font-weight: bold;
}
.profileCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.trainer {
    padding: 2rem;
    height: 220px;
    display: flex;
    justify-content: space-around;
}
.trainerGym {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gymTrainer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
.socialSvg {
    width: 17px;
}
.socialSvg path {
    fill: rgb(255, 255, 255);
}
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

/* GIMNASIOS */
.mainGym {
    display: flex;
    justify-content: center;
}
    .user_menu {
        list-style: none;
        display: flex;
    }
    .menuUser {
        cursor: pointer;
        background-color: black;
        border: none;
        margin-top: -0.2rem;
        margin-right: -1rem;
        list-style: none;
        padding: 0.4rem;
        width: 7rem;
        border-radius: 1rem;
    }
    .menuUser svg {
        width: 4rem;
        height: 2rem;
        color: #FFFF00;
    }
    
.user-avatar {
    border-left: solid 2px white;
    border-radius: 1rem;
    
}
.name {
    color: #FFFF00;
    font-size: 3rem;
}

.information {
    background-color: #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 29rem;
    border-radius: 2rem;
    margin-left: -2rem;
    height: 18rem;
    margin-right: 1rem;
    box-shadow: 38px 40px 104px 8px black;
}
.cuenta {
    display: flex;
    width: 28rem;
    justify-content: space-around;
}
.information .user-avatar {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #FFFF00;
    border-radius: 2rem;
}
.information .name {
    color: #000;
    font-size: 2rem;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 5rem;
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
}

.options {
    border-top: solid 1px black;
    margin-top: 1rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
}
.menu_perfil{
    margin-right: 1rem;
}
.settings {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
}
.settings svg {
    margin-right: 0.3rem;
    width: 2rem;
    height: 1rem;
}
.settings a {
    text-decoration: none;
    color: #000;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
    .main_text {
        margin-right: 0rem;
        display: flex;
        justify-content: end;
        align-items: end;
        margin-left: 100vh;
    }
}
    
.main_text h2 {
    font-size: 4rem;
    font-family: 'Bruno Ace SC', cursive;
    color: #ffffff;
}

.main_text h3 {
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    margin-top: -3rem;
    color: #ffffff;
}

.cssbuttons-io-button {
    background: #FFFF00;
    color: black;
    font-family: 'Bruno Ace SC', cursive;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #FFFF00;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #FFFF00;
    right: 0.3em;
    transition: all 0.3s;
}
.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #000;
}
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}  
@media screen and (max-width: 768px) {
    .modal1 {
        width: 40%;
        height: 60%;
    }
}
@media screen and (max-width: 768px) {
    .modal2 {
        width: 40%;
        height: 80%;
    }
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
    justify-content: center;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .ReactModal__Overlay.ReactModal__Overlay--after-open .modal1{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
        position: fixed;
        top: 0%;
        left: 0%;
        max-width: none;
        max-height: none;
    }
    .ReactModal__Overlay.ReactModal__Overlay--after-open .modal2 {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
        position: fixed;
        top: 0%;
        left: 0%;
        max-width: none;
        max-height: none;
    }
         .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1%;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 0.4em;
            background-color: #171717;
            border-radius: 25px;
            transition: .4s ease-in-out;
            width: 100%;
            height: 70%;
            border: none;
         }
        .form .btn {
            margin-top: 2%;
        }
        .close {
            left: 0%;
        }
    }
.target {
    display: flex;
    align-items: end;
}

.imge {
    height: 70px;
    background-color: #FFFF00;
}

.imge .Usericon {
    transform: translateX(10px) translateY(10px);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.imge .Username {
    width: 100px;
    height: 15px;
    border-width: 10px;
    border-radius: 5px;
    border-color: #262626;
    color: #262626;
    font-size: 12px;
    font-weight: bold;
    transform: translateX(70px) translateY(-35px);
    margin-top: -0.1rem;    
}
.Username a {
    text-decoration: none;
    color: #262626;
}

.imge .Id {
    width: 100px;
    height: 15px;
    border-width: 10px;
    border-radius: 5px;
    border-color: #262626;
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    transform: translateX(70px) translateY(-25px);
    margin-top: -1rem;
}

.Description {
    border-color: #141414;
    transform: translate(5px, 6px);
    width: 180px;
    height: 130px;
    border-radius: 5px;
}

.social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    transform: translatey(10px);
    background: #414141;
}

.social-media a {
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
}

.social-media a:last-child {
    margin-right: 4;
}

.social-media a svg {
    color: #FFFF00;
    transform: translatex(25px) translateY(20px);
    width: 35px;
    fill: currentColor;
}

/* responsive */
@media (max-width: 768px) {
    .navBarList {
        display: none;
    }
    .user {
        margin-left: 26rem;
    }
    .dropdownMenu {
        display: block;
        margin-top: -4rem;
    }
    .toggle {
        background: transparent;
        border: none;
    }
    .toggle svg {
        width: 5rem;
        height: 3rem;
        color: #FFFF00;
    }
    .menu-item {
        background-color: #fff;
        width: 10rem;
        font-family: 'Bruno Ace SC', cursive;
        list-style: none;
        margin-left: -1rem;
        padding: 0.6rem;
        box-shadow: 10px 10px 5px 0px;
    }
    .menu-item .item {
        margin: 2rem;
        border-bottom: solid 1px #000;
    }
    .modal1 {
        margin-left: 25%;
        margin-top: 25%;
    }
    .modal2 {
        margin-left: 25%;
        margin-top: 25%;
    }
}
/* STORE */

.btns {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .btns::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #FFFF00;
    transition: .5s ease;
  }
  
  .btns:hover {
    color: #1e1e2b;
    transition-delay: .5s;
  }
  
  .btns:hover::before {
    width: 100%;
  }
  
  .btns::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: .4s ease;
    z-index: -1;
  }
  
  .btns:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

.buttons {
    background-color: transparent;
}
.store-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.store-card {
    margin-left: 0%;
    width: 100%;
}


.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
   }
   
   /*Image*/
   .card-avatar {
    --size: 60px;
    background: linear-gradient(to top, #f1e1c1 0%, #FFFF00 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
   }
   
   
   /*Card footer*/
   .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 10rem;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
    margin-left: -1.5rem;
   }
   
   .card-social__item {
    list-style: none;
   }
   
   .card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
   }
   
   /*Text*/
   .card-title {
    color: #333;
    font-size: 100%;
    font-weight: 600;
    line-height: 2rem;
   }
   
   .card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
   }
   
   /*Hover*/
   .card:hover {
    box-shadow: 0 8px 50px #23232333;
   }
   
   .card:hover .card-info {
    transform: translateY(-5%);
   }
   
   .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
   }
   
   .card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
   }
   
   .card-avatar:hover {
    transform: scale(1.1);
   }


.gym-target {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.infoGym {
    display: flex;
    justify-content: center;
}
.gyms {
    background-color: #FFFF00;
    box-shadow:  -5px 10px 29px 12px black;
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
    display: flex;
    justify-content: center;
    width: 50%;
    

}
.imgGym {
    border-radius: 2rem;
    border: solid 2px #d5d1d1;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 4rem;
    background-color: #FFF;
    width: 8rem;
    height: 6rem;
}
.dateGym {
    border: solid 1px black;
    display: flex;
    justify-content: space-around;
    width: 40rem;
}
.imagePlace {
    width: 38rem;
    height: 15rem;
    padding: 1rem;
    box-shadow:  -5px 10px 29px 12px black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.place {
    height: 15rem;
    width: 5rem;
}
.schedule {
    margin: 2rem;
}
.schedule button {
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    border: solid 1px black;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    max-width: 80%;
    max-height: 80%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .modal-image {
    max-width: 100%;
    height: 20rem;
  }

.worker {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: -4rem;
}
.workerGym {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
}
.workerGym img {
    width: 8rem;
}




